<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

	<!--Console appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %magenta([%thread]) %boldCyan(%logger{36}) - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- File appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<file>${HOME}/logs/folha-backend/log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover and zip files when they reach 50MB -->
			<fileNamePattern>${HOME}/logs/folha-backend/log-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<maxFileSize>50MB</maxFileSize>

			<!-- keep 7 days' worth of history capped at 200MB total size -->
			<maxHistory>7</maxHistory>
			<totalSizeCap>200MB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!--Enable/disable/change root level - appenders-->
	<root>
		<level value="DEBUG"/>
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</root>

</configuration>
